.arrow-down {
    width: 8px;
    height: 10px;
    fill: currentColor;
    
}
.arrow-down.arrow-down--next {
    transform: rotate(-90deg);
}
.arrow-down.arrow-down--prev {
    transform: rotate(90deg);
}

.arrow-down.arrow-down--next--reviews {
    transform: rotate(180deg);
}
