.direction-btn {
    padding: 13px 20px;
    background-color: $bg-links-color;
    transition: .3s;

    &:hover {
        background-color: $hover-color-purple;
    }
}

.direction-btn.direction-btn--reviews {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $bg-links-color;
    margin-right: 30px;
    margin-bottom: 90px;

    &:hover {
        border-color: $hover-color-purple;
    }
}
