.footer {
    background-color: $footer-color;
    color: $white;
    padding: 105px 0;
    margin-top: 134px;
}

.footer__container {
    display: flex;
}

.footer__left {
    display: flex;
}

.footer__date {
    color: rgba(255, 255, 255, .1);
    font-size: 48px;
    font-weight: 600;
    margin-right: 60px;
}