
.menu--color .menu__list {
    color: $white;
}
.menu__list {
    display: flex;
    color: $text-color;
}

.menu__item {
    margin-right: 61px;

    &:hover {
        font-weight: 600;
     }

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
}