.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -20;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 0%, 0% 93%, 50% 100%, 100% 93%, 100% 0%);
}
