.reviews {
    position: relative;
}

.reviews__wrapper {
    margin-bottom: 189px;
    margin-top: 255px;
}

.reviews__header {
    display: flex;
}

.reviews__content {
    width: 63%;
}
.reviews__title {
    margin-right: 107px;
}