
.scroll-down {
    font-size: 18px;
    color: $text-color;
    font-weight: 600;
    position: relative;
    padding-right: 20px;

    &:after{
        content: '';
        position: absolute;
        background: svg-load('scroll.svg', width=100%, height=100%);
        background-repeat: no-repeat;
        width: 100%;
        height: 30px;
        right: -95%;
    }
}
 