.skills {
    display: flex;
}

.skills__item {
    margin-right: 53px;

    &:last-child {
        margin-right: 0;
    }
}

.skills-row__title {
    margin-bottom: 40px;
}

.skills-graphic__item {
    margin-bottom: 29px;

      &:last-child {
        margin-bottom: 0;
    }
}