.slider-preview__images {

}

.slider-preview__item {
    max-width: 178px;
    transition: .3s;

    &:hover {
        transform: translateX(-30px);
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(85, 0, 242, 0.3);
        }
    }
}
