
.user-info__desc {
    font-size: 18px;
    color: rgba(70, 77, 98, .4);
    font-weight: 400;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 30px;
}

.user-info__username {
    font-size: 72px;
    font-weight: 800;
    line-height: 60px;
    color: #464e62;
}
.user-info {
    text-align: center;
}
.user-info__desc span,
.user-info__username span {
    display: block;
}