article.about
  .about__wrapper
    .about__left
      .about__avatar
        .avatar
          +image('content/user.jpg', 'avatar__image')
      .about__info-ame
        ul.about__list
          li.about__item Проживаю:
          li.about__item Возраст:
          li.about__item Родился:
        ul.about__list.about__list--color
          li.about__item Дивногорск
          li.about__item 20 лет
          li.about__item 21 aвгуста 1999
    .about__right
      .about__welcome-text.text Привет, меня зовут
      .about__aboutname Санников Денис
      .about__text.text
        p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      .about__ps-text.text.text--italic
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 