section.reviews
    .reviews__wrapper
        .container
            .reviews__header
                .reviews__title.title.title--medium Что обо мне говорят
                a.direction-btn.direction-btn--circle
                a.direction-btn.direction-btn--circle
            .reviews__content
                .slider-reviews
                    .slider-reviews__item
                        .slider-reviews__text.text
                            | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                        .slider-reviews__author
                            .slider-reviews__author-avatar
                                .avatar.avatar--tiny
                                    +image('content/dmk.jpg', 'avatar__userpic')
                            .slider-reviews__author-desc
                                .slider-reviews__author-username Ковальчук Дмитрий
                                .slider-reviews__author-subtitle Основатель Loftschool
                    .slider-reviews__item
                        .slider-reviews__text.text
                            | Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                        .slider-reviews__author
                            .slider-reviews__author-avatar
                                .avatar.avatar--tiny
                                    +image('content/vis.jpg', 'avatar__userpic')
                            .slider-reviews__author-desc
                                .slider-reviews__author-username Владимер Сабанцев
                                .slider-reviews__author-subtitle Преподаватель









            