section.reviews
    .reviews__wrapper
        .container.container__reviews
            .reviews__header
                .reviews__title.title.title--medium Что обо мне говорят
                
            .reviews__content#slider-reviews
            
                flickity(ref="flickity" :options="flickityOptions").slider-reviews
                    .carousel-cell
                        .slider-reviews__text.text
                            | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                        .slider-reviews__author
                            .slider-reviews__author-avatar
                                .avatar.avatar--tiny
                                    +image('content/dmk.jpg', 'avatar__userpic')
                            .slider-reviews__author-desc
                                .slider-reviews__author-username Ковальчук Дмитрий
                                .slider-reviews__author-subtitle Основатель Loftschool
                    .carousel-cell
                        .slider-reviews__text.text
                            | Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                        .slider-reviews__author
                            .slider-reviews__author-avatar
                                .avatar.avatar--tiny
                                    +image('content/vis.jpg', 'avatar__userpic')
                            .slider-reviews__author-desc
                                .slider-reviews__author-username Владимер Сабанцев
                                .slider-reviews__author-subtitle Преподаватель
                    .carousel-cell
                        .slider-reviews__text.text
                            | Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                        .slider-reviews__author
                            .slider-reviews__author-avatar
                                .avatar.avatar--tiny
                                    +image('content/vis.jpg', 'avatar__userpic')
                            .slider-reviews__author-desc
                                .slider-reviews__author-username Владимер Сабанцев
                                .slider-reviews__author-subtitle Преподаватель
                    .carousel-cell
                        .slider-reviews__text.text
                            | Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                        .slider-reviews__author
                            .slider-reviews__author-avatar
                                .avatar.avatar--tiny
                                    +image('content/vis.jpg', 'avatar__userpic')
                            .slider-reviews__author-desc
                                .slider-reviews__author-username Владимер Сабанцев
                                .slider-reviews__author-subtitle Преподаватель
                .reviews__btn
                        button(@click="previous()").direction-btn.direction-btn--circle
                        button(@click="next()").direction-btn.direction-btn--circle            









            