article.user
  .user__wrapper
    .user__left
      .user
        .user__avatar
          .avatar
            +image('content/user.jpg', 'avatar__image')
      .user__info-ame
        ul.user__list
          li.user__item Проживаю:
          li.user__item Возраст:
          li.user__item Родился:
        ul.user__list.user__list--color
          li.user__item Дивногорск
          li.user__item 20 лет
          li.user__item 21.08.1999
    .section-user__right
      .user__welcome-text.text Привет, меня зовут
      .user__username Санников Денис
      .user__text.text
        p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      .user__ps-text.text.text--italic
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 