.humburger-menu{
    cursor: pointer;
    display: none;
    margin-left: 108px;

    @include tablets {
        display: block;
    }
    
    @include phones {
        margin-left: 0;
    }

    width: 25px;
}