.projects__wrapper {
    margin-bottom: 167px;

    @include desktop {
        margin-bottom: 92px;
    }

    @include tablets {
        margin-bottom: 49px;
    }

    @include mobile {
        margin-bottom: 106px;
    }
}

.projects__title {
    margin-bottom: 93px;

    @include desktop {
        margin-bottom: 61px;
    }

    @include phones {
        text-align: center;
        margin-bottom: 25px;
    }
}