include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .parallax
        - 
          var imagesNumberspeed = [
            ["parallax/sky.jpg",        ["parallax__img"],   ["0.1"]],
            ["parallax/mountain.png",   ["parallax__img"],   ["0.15"]],
            ["parallax/baloon.png",     ["parallax__img"],   ["0.18"]],
            ["parallax/cloud.png",      ["parallax__img"],   ["0.21"]],
            ["parallax/man.png",        ["parallax__img"],   ["0.25"]],
            ["parallax/mountain1.png",  ["parallax__img"],   ["0.26"]],
            ["parallax/white.png",      ["parallax__img"],   ["0.27"]]
          ];
          
        each imgSpeed in imagesNumberspeed
          .parallax__layer(data-speed=`${imgSpeed[2]}`)
            picture
              source(srcset="images/background/mountain.jpg" media="screen and (max-width: 768px")
              +image(`${imgSpeed[0]}`,`${imgSpeed[1]}`, 'section background')
        include ./templates/home
        include ./templates/about
      .maincontent
        include ./templates/skillslist
        include ./templates/projects
        .parallax-budda
          .parallax-budda__layer(data-speedbudda="0.1")
            +image('parallax-budda/budda-sky.jpg', 'parallax__img', 'фон секции') 
          .parallax-budda__layer(data-speedbudda="0.10")
            +image('parallax-budda/back-budda-sky.png', 'parallax__img', 'фон секции') 
          .parallax-budda__layer(data-speedbudda="0.15")
            +image('parallax-budda/budda-mountain.png', 'parallax__img', 'фон секции') 
          .parallax-budda__layer(data-speedbudda="0.21")
            +image('parallax-budda/buddha.png', 'parallax__img', 'фон секции') 
          .parallax-budda__layer(data-speedbudda="0.26")
            +image('parallax-budda/cloud-1.png', 'parallax__img', 'фон секции') 
          .parallax-budda__layer(data-speedbudda="0.25")
            +image('parallax-budda/cloud-2.png', 'parallax__img', 'фон секции')
          .parallax-budda__layer(data-speedbudda="0.27")
            +image('parallax-budda/cloud-3.png', 'parallax__img', 'фон секции')
          include ./templates/reviews
          include ./templates/common/form
        include ./templates/footer
    