.skills-graphic {
  z-index: $z-index100;
  margin-right: 47px;

  @include tablets {
    margin-right: 0;
  }
}

.skills-graphic__item {
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }
}